.container-fluid {

}

.text-center{
    text-align: center;
}

/* ===============================HEADER============================== */
.color-bg-header {
    background-color: rgb(37, 201, 223);
    border: 1px solid;
}

.Img-header-logo {
    width: 50px;
    padding: 8px 5px;
    margin: 2px 5px;
    
}

.logo-header {
    font-size: 30px;
    font-weight: 800;
}
.logo-radius{
    border: 2px solid;
    color: black;
    display: inline-block;
    border-radius: 50px;
    width: 65px;
    height: 65px;
    margin: 3px 5px;
   
}

.Infoi-right {
    float: right;
    font-size: 30px;
    padding-right: 15px;
}

/* ==============================BLock-2============================ */
.block-2 {

    height: calc(100vh - 59px);
    background-color: rgb(207, 207, 207);
}
/*================================col-1-block2========================*/
.col-1-block2, .col-2-block2 {
    border: 1px solid black;
}
.btnProject{

    margin-top: 30px;
    font-size: 46px;
}
 .addplus{
    font-size: 22px;
    border-radius: 50px;
    color: #18cfe7;
    width: 38px;
    border: 2px solid;
    height: 38px;
    display: inline-block;

 }

 .addplus:hover{
     background-color: rgb(143, 238, 255);
     font-size: 22px;
     border-radius: 50px;
     color: #161616;
     width: 38px;
     height: 38px;
     border: 2px solid;
     text-decoration: none;
 }
.project2{
    font-size: 30px;
    color: #70c9d4;
    display: block;
    padding: 1px;
    margin: 10px;

}
.navigationProject{
    display: none;

}
 .dropMenu:hover .navigationProject{
     display: inline;

 }
 .plusenavi{
     font-size: 35px;
     color: red;
 }
     .pressEfect{
         background-color: rgba(70, 160, 222, 0.27);
         border: solid 2px red;
         border-radius: 8px;
     }


/*================================col-2-block2========================*/

.button-11{
    position: fixed;
    right: 15px;
    bottom: 15px;
    border-radius: 50px;
    font-family: fantasy;
    font-size: 31px;
    background-color: red;
    width: 50px;
    height: 50px;
}
/* =========================EXIT-USERS=============================== */
.logo-radius:hover{
    background-color: crimson;
}

/* =========================Task-Windows======================= */

.conteinerTask1{

    background-color: #343a40!important;

    border: 2px solid black;
}
.conteinerTask2{
    height: 130px;
    background-color: rgb(232, 239, 243);
    border: 2px solid black;
    overflow-x:hidden;
}
.nameTask{
    display: inline;
    font-size: 20px;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;;
}
.Capa_1{
    margin: 0px 6px 0px 0px;
}
.textTask{
    padding: 20px 0 0 0px;
    font-size: 20px;
    
}
.task-box{
    margin: 20px auto;
}